<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StainedGlass.Web</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind_output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StainedGlass.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>
    
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <script src="~/js/htmx.min.js" asp-append-version="true"></script>
    <script src="~/js/frontbundle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>