@page
@model IndexModel
@{
    ViewData["Title"] = "Sanctuary Map";
}
<div id="mapContent" class="inline-block relative">
    <h3 class="text-center">@Model.Church.Name</h3>
    <div class="inline-block relative" id="map">
        <img src="data:image/jpeg;base64,@Model.ChurchImage" alt="@Model.Church.Name Sanctuary Map" class="w-full">
        @if (Model.Church.Sides.Count > 0)
        {
            foreach (var sanctuarySide in Model.Church.Sides)
            {
                <div
                    class="absolute flex items-center justify-center 
                text-2xl cursor-pointer font-bold border-4 border-black 
                rounded side"
                    style="@sanctuarySide.Position"
                    hx-get="/front/sanctuaryside/@sanctuarySide.Slug"
                    hx-target="#popup"
                    hx-swap="beforeend">
                    @sanctuarySide.Name
                </div>
            }
        }
    </div>
    <div 
        class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-50 p-3 bg-white" 
        id="popup"></div>
</div>
