@page
@using StainedGlass.Transfer.DTOs

@{
    Layout = "_AdminLayout";
    var sanctuarySides = ViewBag.SanctuarySides as List<SanctuarySideDTO>;
}
<h2 style="display: inline-block;">Adding a new SanctuaryRegion</h2>
<br>
<form action="/sanctuaryregion" method="post" id="addForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" name="Name" required class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="title">Slug</label>
        <input type="text" name="Slug" required class="form-control" id="slug" placeholder="Slug">
    </div>
    <br>
    <div class="form-group">
        <label for="text">Description</label>
        <textarea class="form-control" name="Description" required id="description" rows="6"></textarea>
    </div>
    <br/>
    <div class="form-group">
        <label for="image">Image</label>
        <br/>
        <input type="file" name="Image" required class="form-control-file" accept=".jpg, .jpeg" id="image">
        @* <span asp-validation-for="Image" class="text-danger"></span> *@
    </div>
    <br/>
    <div class="form-group">
        <label for="title">Sanctuary Side</label>
        <br/>
        <select class="custom-select slim-select" id="parentSlug" data-type="sanctuary side" required name="SanctuarySideSlug">
            @if (sanctuarySides.Count > 0)
            {
            <option selected value="0">Choose...</option>
                @foreach (var sanctuarySide in sanctuarySides)
                {
            <option value="@sanctuarySide.Slug">@sanctuarySide.Name</option>
                }
            }
            else
            {
            <div class="alert alert-danger" role="alert">
                There are no sanctuary sides available. You need to create one first!
            </div>
            }
        </select>
    </div>
    <br/>
    @if (sanctuarySides.Count == 0)
    {
    <div class="form-group">
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
    </div>
    }
    else
    {
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    }
</form>