@page

@{
    Layout = "_AdminLayout";
}

<h2>Sanctuary Side @ViewBag.SanctuarySide.Slug</h2>

<dl>
    <dt>Name:</dt>
    <dd>@ViewBag.SanctuarySide.Name</dd>
    <dt>Position:</dt>
    <dd>
        @if (ViewBag.ChurchImage != null)
        {
            <div>
                <img width="150px" src="data:image/jpeg;base64,@ViewBag.ChurchImage" alt="Church @ViewBag.SanctuarySide.Church.Name Image" />
            </div>
        }
    </dd>
</dl>