@page

@{
    Layout = "_AdminLayout";
}

<h2>ItemType @ViewBag.ItemType.Slug</h2>

<dl>
    <dt>Name:</dt>
    <dd>@ViewBag.ItemType.Name</dd>
    <dt>Icon Slug:</dt>
    <dd><i class="bi @ViewBag.ItemType.IconSlug"></i></dd>
</dl>