@page
@using StainedGlass.Transfer.DTOs

@{
    Layout = "_AdminLayout";
}
<h2 style="display: inline-block;">Adding a new Item type</h2>
<br>
<form action="/itemType" method="post" id="addForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" name="Name" required class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="title">Slug</label>
        <input type="text" name="Slug" required class="form-control" id="slug" placeholder="Slug">
    </div>
    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>