<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StainedGlass.Web</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tailwind_output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StainedGlass.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>

<div
    class="popup-content bg-white rounded-sm relative"
    style="width: 350px;">
    <div class="relative">
        <img
            width="350px"
            src="data:image/jpeg;base64,@ViewBag.SanctuaryRegionImage"/>
        @if (ViewBag.SanctuaryRegion.Items.Count > 0)
        {
            foreach (var item in ViewBag.SanctuaryRegion.Items)
            {
                <i
                    class="absolute flex items-center justify-center 
                text-l cursor-pointer text-3xl
                side bi @item.ItemType.IconSlug"
                    style="@item.Position"
                    hx-get="/front/sanctuaryside/@item.Slug"
                    hx-target="#popup"
                    hx-swap="beforeend">
                </i>
            }
        }
    </div>
    <i class="bi bi-arrow-return-left absolute right-2 -top-4 cursor-pointer" id="returnToPrevious"></i>
    <span class="absolute -right-3 -top-4 cursor-pointer" id="closePopup">X</span>
</div>

<script src="~/js/htmx.min.js" asp-append-version="true"></script>
<script src="~/js/frontbundle.js"></script>
</body>
</html>